---
import siteData from '../data/site.json'

interface Props {
  image?: string,
  title?: string
}

const { image, title } = Astro.props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const imageURL = image
  ? new URL(image, Astro.site)
  : undefined
---
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- PRELOAD CDN SCRIPTS -->
<link rel="preconnect" href="https://unpkg.com/popper.js@1" as="script">
<link rel="preconnect" href="https://unpkg.com/tippy.js@4" as="script">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content={siteData.description}>
<meta name="author" content={siteData.author}>
<meta name="robots" content="index,follow">

<!-- BEGIN SOCIAL META DATA -->
<meta property="og:site_name" content={siteData.title}>
<meta property="og:title" content={title ? title : siteData.title}>
<meta property="og:description" content={siteData.description}>
<meta property="og:url" content={canonicalURL}>
<meta name="twitter:card" content={imageURL ? 'summary_large_image' : 'summary' }>
{imageURL && <meta property="og:image" content={imageURL}>}
<!-- ./END SOCIAL META DATA -->

<meta name="theme-color" content="#ffffff">
<title>{title ? title : siteData.title}</title>
